<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


  <!-- Custom styles for this template -->
  <link href="css/clean-blog.css" rel="stylesheet">
  <link rel="stylesheet" href="css/loading.css" type="text/css">


</head>

<body>
  
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="height: 60px;background-color: #272727;padding: 0px 0px 0px 0px;" id="mainNav">
    <div class="container" style="margin-left:100px">
     
     <div class="row" style="background-color:#272727;width: 1280px;height:40px;width:90%;margin-bottom:5px">

      <div style="width: 80px;height: 40px">
      <a class="navbar-brand" style="height: 40px" href="index.html"><span style="color: #fff">SHOW</span></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      </div>
      
      <div style="width: 300px;height:40px">
      <div class="collapse navbar-collapse" id="navbarResponsive" style="height:40px;margin-left: 40px">
        <ul class="navbar-nav ml-auto" style="margin-top:10px;float:right">
          <li class="nav-item">
            <a class="nav-link" href="index.html"><span  style="color: #fff">推荐</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html"><span style="color: #fff">关注</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="post.html"><span style="color: #fff">热榜</span></a>
          </li>
        </ul>
      </div>
      </div>
      

      
        <div style="width:300px;height:40px;margin-left: 25px;margin-top:5px">
          <form class="form-inline" style="width: 450px;height: 35px">
            <input class="form-control" style="font-size:10px;width: 350px;height: 30px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-top-left-radius:5px;border-bottom-left-radius:5px;" type="search" placeholder="搜你所想" aria-label="Search">
            <button class="btn btn-primary" style="padding:1px 1px 1px 1px;width:80px;height:30px;border-top-right-radius:5px;border-bottom-right-radius:5px;" type="submit">搜索</button>
          </form>
            <!-- <div class="input-group" style="margin-left:auto;margin-right:auto">
                <input type="text" class="form-control"><button class="input-group-addon btn btn-primary" style="height:calc(1.5em + .75rem + 5.5px)">搜索</button>
            </div> -->
        </div>


      

    </div>
    </div>
  </nav>

  <!-- Page Header -->
  <!-- <header class="masthead" style="background-color: #272727"> -->
  <header class="masthead">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
              <div class="container">
                <div class="input-group">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" id="page">
        {% for doc in docs %}
        <div class="post-preview">
            <a href="{{doc.url}}" target="_blank">
            <h2 class="post-title">
                {{doc.title}}
            </h2>
            <h3 class="post-subtitle">
                {{doc.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
        <hr>
        {% endfor %}
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.js"></script>

</body>

</html>
